{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="container">
        <h1>Bienvenue sur l'application de gestion de la kermesse !</h1>
        <h2>Pour l'utiliser, vous devez vous identifier</h2>
        <div class="signin">
            <form class="form-signin" method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <div class="email">
                    <label for="inputEmail" class="label">Adresse email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                </div>
                <div class="password">
                    <label for="inputPassword" class="label">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                </div>
                <button class="button" type="submit">M'identifier</button>
                <div class="forgotten">
                    <a  href="{{ path('app_forgotten_password') }}">Mot de passe oublié ?</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}