{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="container">
        <h1 >Vous avez oublié votre mot de passe ?</h1>
        <h2>Entrez votre adresse email, si vous êtes déjà enregitré, vous recevrez un lien pour modifier votre mot de passe</h2>
        <form class="form-signin" method="post">
        <div class="forget-email">
        <label for="inputEmail" class="label">Email</label>
        <input type="email" name="email" id="inputEmail" class="form-control" required autofocus>
        </div>
        <button class="security-button" type="submit">
            Envoyer
        </button>

    </form>
    </div>
{% endblock %}