{% extends 'base.html.twig' %}

{% block title %}Reset Password !{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="container">
        <h1>Entrez votre nouveau mot de passe</h1>
        <form class="form-signin" method="post">
        <div class="forget-email">
        <label for="inputPassword">Nouveau mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="8 caractères, au moins 1 chiffre, au moins 1 majuscule" required>
        <input type="hidden" name="token" value="{{ token }}">
        </div>
        <button class="security-button" type="submit">
            Enregistrer
        </button>
    </form>
    </div>
{% endblock %}